table {
  width: 100%;
}

.mat-header-cell {
  background-color: white;
  border-color: white !important;
  font-size: 12px !important;
  color: black !important;
}

a{
  color: cornflowerblue;
}
a:hover{
  cursor: pointer;
}
