.btn{
  width: 200px!important;
  margin-right: 16px;
}
.role-assignment {
  margin: auto 5px;
  width: 200px;
  height: 36px;
  background-color: #fafafa;
  display: inline;
  text-align: left;
  border: 0.5px solid #CBCBCB;
}
.role-filter {
  margin: auto 30px;
  width: 120px;
  height: 33px;
  background-color: lightgrey;
}
.mat-select-arrow {
  visibility: hidden!important;
}
