@import '~@angular/material/theming';

@include mat-core();
$orange-palette: (
  50 : #feeee8,
  100 : #fcd4c5,
  200 : #fbb79f,
  300 : #f99a78,
  400 : #f7855b,
  500 : #f66f3e,
  600 : #f56738,
  700 : #f35c30,
  800 : #f25228,
  900 : #ef401b,
  A100 : #ffffff,
  A200 : #fff2f0,
  A400 : #ffc7bd,
  A700 : #ffb1a3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$baby-blue: (
  50 : #eaf2f5,
  100 : #cadde6,
  200 : #a6c7d6,
  300 : #82b1c5,
  400 : #68a0b8,
  500 : #4d8fac,
  600 : #4687a5,
  700 : #3d7c9b,
  800 : #347292,
  900 : #256082,
  A100 : #c3e8ff,
  A200 : #90d4ff,
  A400 : #5dc0ff,
  A700 : #43b6ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$manly-blue: (
  50 : #e2e0e9,
  100 : #b7b3c8,
  200 : #8780a4,
  300 : #564d7f,
  400 : #322663,
  500 : #0e0048,
  600 : #0c0041,
  700 : #0a0038,
  800 : #080030,
  900 : #040021,
  A100 : #5d5dff,
  A200 : #2a2aff,
  A400 : #0000f6,
  A700 : #0000dd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
$mat-cyan: (
  50: #e0f7fa,
  100: #b2ebf2,
  200: #80deea,
  300: #4dd0e1,
  400: #26c6da,
  500: #00bcd4,
  600: #00acc1,
  700: #0097a7,
  800: #00838f,
  900: #006064,
  A100: #84ffff,
  A200: #18ffff,
  A400: #00e5ff,
  A700: #00b8d4,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$mat-teal: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #009688,
  600: #008265,
  700: #00796b,
  800: #00695c,
  900: #004d40,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
$mat-blue: (
  50 : #e3e1eb,
  100 : #b9b5cd,
  200 : #8b84ac,
  300 : #5c538b,
  400 : #392e72,
  500 : #160959,
  600 : #130851,
  700 : #100648,
  800 : #0c053e,
  900 : #06022e,
  A100 : #6d67ff,
  A200 : #3c34ff,
  A400 : #0a01ff,
  A700 : #0900e6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-purple: (
  50 : #eeedf5,
  100 : #d5d1e6,
  200 : #b9b3d6,
  300 : #9c94c6,
  400 : #877db9,
  500 : #7266ad,
  600 : #6a5ea6,
  700 : #5f539c,
  800 : #554993,
  900 : #423883,
  A100 : #d8d2ff,
  A200 : #ab9fff,
  A400 : #7f6cff,
  A700 : #6952ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
$mat-orange: (
  50 : #fdebe6,
  100 : #facdc0,
  200 : #f7ac96,
  300 : #f38a6b,
  400 : #f1714c,
  500 : #ee582c,
  600 : #ec5027,
  700 : #e94721,
  800 : #e73d1b,
  900 : #e22d10,
  A100 : #ffffff,
  A200 : #ffe0dc,
  A400 : #ffb2a9,
  A700 : #ff9c90,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$app-primary: mat-palette($mat-blue, 500);
$app-accent: mat-palette($mat-orange, 500);
$app-warn: mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
