
.search-section {
  display: flex;
  height: 60px;
}

.search-left {
}
.mat-form-field-flex {
  display: inline-block;
  width: 75% !important;
  background-color: black;
}

.search-right {
  width: 1600px;
  display: flex;
  float: right;
  margin-left: 10px;
  justify-content: flex-end;
  height: min-content;
}


